:root{
    --bg-color: #ffffff;
    --bg-footer-color: #38323E;
    --text-color: #000000;
    --button-bg:  #ffffff;
    --button-text: #711414;
    --font-size-base: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
    --font-size-large: clamp(2rem, 1.286rem + 1.905vw, 3rem);
    --button-padding: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
}

.dark-mode:root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --button-bg: #ff9800;
    --button-text: #000000;
  }

*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

body{
    background-color: var(--bg-color);
    color:var(--text-color);
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--font-size-base);
}
h1{
    font-size: var(--font-size-large);
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
}

section{
    padding: clamp(20px, 5vw, 50px);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}

#titulo{
    font-size: var(--font-size-large);
    font-weight: bold;
}

main{
    display: flex;
    flex-direction: row;
    margin: 3%;

}

.detalhes{
    padding: 1%;
    margin-right: 5%;
    width: 60%;
}


.sobreMim{
    padding: 1%;
    width: 40%;
    margin-right: 15%;

}

.button-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

button{
    margin: 2%;
    font-family: "Lexend", sans-serif;
    width: 70%;
    padding: var(--button-padding);
    background-color: var(--button-bg);
    display: inline-block;
    border: solid 1px #711414;
    border-radius: 30px;   
}

.imagem{
    text-align: center;
    width: 40%;
    border: 5px solid #711414;
    height: 500px;
    padding: 1%;
}

.imagem img{
    border-radius: 50px;
    align-self: center;
}

footer{
    display: flex;
    justify-content: center;
    padding: 4%;
    margin-top: 7%;
    background-color: var(--bg-footer-color);
    color: var(--text-color);
}



@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    main{
        flex-direction: column-reverse;
    }

    .detalhes, .sobreMim {
        text-align: center;
        width: 100%;
        padding: 4%;
    }

    .imagem {
        width: 100%;
        margin-top: 20px;
    }

    button {
        display: block;
        width: 50%;
        padding: 15px;
    }
}